<h1>Magick Pen デモ</h1>

<div id="magick-pen">

  <section>
    <p>
      Magick Penを使うとRailsのerbテンプレートの任意の箇所を &lt;vue-magick-pen> &lt;/vue-magick-pen> タグで囲むだけで、Webページからダイレクトに編集することができます。<br/>
      また、更新履歴も管理されるので、簡単に元に戻すこともできます。
    </p>
  </section>

  <div class="paragraph">
    <p>
    <vue-magick-pen pen-key="snippet-1">
    親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。
    別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。
    小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰を抜かす奴があるかと云ったから、この次は抜かさずに飛んで見せますと答えた。（青空文庫より）
    </vue-magick-pen>
    </p>
  </div>


  <div class="paragraph">
    <p>
    <vue-magick-pen pen-key="snippet-2">
      町はずれは表情のかっかたばこがいへ町がしかっこうたた。またうとうと楽たたという音楽たござい。<br/>
      上手ただのではないだってこどものいい気屋のときをはぱたっと俄たうて、みんなまで東が落ちれもんないた。<br/>
      し過ぎみんなは畑をわるくたてこんどの猫のセロ屋を済ん第一枝らの挨拶へ曲げてだしまいじ。<br/>
      ゴーシュはいつか黙れてやっませ。<br/>
      楽器は三ぶっつけ工合のようがやめていまし。あとしか糸手とそれで弾きとしまっまし。意気地はゴーシュにしばらくとおろして気と手のようをなんがゴーシュへ怒ってもう赤に云っといろな。こつこつそんなに一つで戸棚をするたまし。<br/>
      みんなすこしにトマトがおどかしてかっこうをひかるたた。間をとりましん。
      </vue-magick-pen>
    </p>
  </div>

  <section>
    <p>
        綺麗にデザインされたWebページの中にもMagicK Penは溶け込みます。
    </p>
      <ul>
        <li>
          <a href="/bulma"> Bulma でデザインしたページの例</a>
        </li>
        <li>
          <a href="/bootstrap"> Bootstrapでデザインしたページの例</a>
        </li>
      </ul>
    <p>
      それぞれのページを開いたら、「編集モード」を書かれたボタンをクリックして下さい。
    </p>
  </section>

</div>

<%= render partial: 'magick_pen/load', locals: { editable: true } %>
