<footer class="footer">
    <p>
      <strong class="white">Magick Pen</strong>   by  <a href="http://github.com/kazuomatz">Kazuomatz</a> 2021.
    </p>
</footer>
<!-- End Footer -->

<!-- Scripts -->
<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script>
  AOS.init({
    easing: "ease-out",
    duration: 800,
  });
  Vue.component('VueCodeHighlight',vueCodeHighlight.component )
  var app = new Vue({
    el: '.footer',
  })
</script>
