<footer class="footer footer-default">
  <div class=" container ">
    <nav>
      <ul>
        <li>
          Magick Pen
        </li>
        </li>
      </ul>
    </nav>
    <div class="copyright" id="copyright">
      &copy;
      Coded by
      <a href="https://github.com/kazuomatz" target="_blank">Kazuomatz</a>.
    </div>
  </div>
</footer>
